/* -------- portfolio-------- */
section.portfolio{
    min-height: 500px;
    background-color: #fff;
    overflow-y: hidden;
}

.sideleft {
    background-color: #ccc;
    padding: 20px;
    color: #000;
}
.sideleft h1{
    font-size: 50px;
}
.sideleft h2{
    font-size: 70px;
}
.sideleft p{
    font-size: 22px;
}

.sideright {
    min-height: 500px;
    color: #fff;
    /* background-image: url("images/images.jpeg");
    background-size: cover;
    background-position: center; */
}
.sideright img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}